<div class="breadcrumb-wrapper">
  <h1>{{title}}</h1>
</div>

<div class="row">
  <div class="col-lg-12">
    <dx-data-grid
      id="gridContainer"
      [dataSource]="users"
      [showColumnLines]="false"
      [showRowLines]="true"
      [showBorders]="true"
      [columnAutoWidth]="true"
      [rowAlternationEnabled]="true"
      (onRowInserted)="insert($event)"
      (onRowUpdated)="update($event)"
      (onRowRemoved)="delete($event)"
      (onEditorPreparing)="onEditorPreparing($event)">
      <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true">
      </dxo-search-panel>
      <dxo-group-panel [visible]="true"> </dxo-group-panel>
      <dxo-grouping [autoExpandAll]="false"> </dxo-grouping>
      <dxo-export [enabled]="true" fileName="users" [allowExportSelectedData]="true"></dxo-export>
      <dxo-selection mode="multiple"></dxo-selection>
      <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxi-column dataField="userTypeId" caption="Kullanıcı Tipi">
        <dxi-validation-rule type="required"></dxi-validation-rule>
        <dxo-lookup [dataSource]="types" valueExpr="id" displayExpr="name">
        </dxo-lookup>
      </dxi-column>
      <!-- <dxi-column dataField="id" caption="id"></dxi-column> -->

      <dxi-column dataField="sicilNo" caption="Sicil No">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="name" caption="İsim">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="lastName" caption="Soyisim">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="unvan" caption="Unvan"></dxi-column>
      <dxi-column dataField="email" caption="Email">
        <dxi-validation-rule type="required"></dxi-validation-rule>
        <dxi-validation-rule type="email"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="phone" caption="Cep" mask="(000) 000-0000" placeholder="5xxxxxxxxx">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>

      <dxi-column dataField="password" caption="Sifre"></dxi-column>
      <dxi-column dataField="roles" [calculateDisplayValue]="getStateNames">
      </dxi-column>
      <dxi-column type="buttons" [allowFixing]="true">
          <dxi-button name="edit"></dxi-button>
          <dxi-button name="delete"></dxi-button>
      </dxi-column>

      <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
        <dxo-popup
          title="Kullanıcı İşlemleri"
          [showTitle]="true"
          [width]="700"
          [height]="400">
        </dxo-popup>
      </dxo-editing>

    </dx-data-grid>
  </div>
</div>