<div class="breadcrumb-wrapper">
    <h1>{{title}}</h1>
</div>

<div class="row">
    <div class="col-lg-12">


        <dx-data-grid
            id="gridContainer"
            [dataSource]="itemlist"
            [showColumnLines]="false"
            [showRowLines]="true"
            [showBorders]="true"
            [columnAutoWidth]="true"
            [rowAlternationEnabled]="true"
            (onRowInserted)="insert($event)"
            (onRowUpdated)="update($event)"
            (onRowRemoved)="delete($event)">
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true">
            </dxo-search-panel>
            <dxo-group-panel [visible]="true"> </dxo-group-panel>
            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
            <dxo-export [enabled]="true" fileName="problems" [allowExportSelectedData]="true"></dxo-export>
            <dxo-selection mode="multiple"></dxo-selection>
            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>

            <dxi-column dataField="no" caption="No">
            </dxi-column>

            <dxi-column dataField="assetId" caption="Varlik">
                <dxi-validation-rule type="required"></dxi-validation-rule>
                <dxo-lookup [dataSource]="assets" valueExpr="id" displayExpr="name">
                </dxo-lookup>
            </dxi-column>

            <dxi-column dataField="actionTypeId" caption="Turu">
                <dxi-validation-rule type="required"></dxi-validation-rule>
                <dxo-lookup [dataSource]="actionTypes" valueExpr="id" displayExpr="name">
                </dxo-lookup>
            </dxi-column>

            <dxi-column dataField="name" caption="Tanim">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>

            <dxi-column dataField="createdDate" caption="Tarih" dataType="date" [format]="{ type: 'dd.MM.yyyy - HH:mm' }">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>

            <dxi-column dataField="createdUserId" caption="Olusturan">
                <dxi-validation-rule type="required"></dxi-validation-rule>
                <dxo-lookup [dataSource]="users" valueExpr="id" displayExpr="fullName">
                </dxo-lookup>
            </dxi-column>

            <dxi-column dataField="status" caption="Durumu">
                <dxi-validation-rule type="required"></dxi-validation-rule>
                <dxo-lookup [dataSource]="actionStatus" valueExpr="id" displayExpr="name">
                </dxo-lookup>
            </dxi-column>

            <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
            <dxi-column type="buttons" [allowFixing]="true">
                <dxi-button name="edit"></dxi-button>
                <dxi-button name="delete"></dxi-button>
                <dxi-button hint="History" icon="bulletlist" [onClick]="historyDetail"></dxi-button>

                <dxi-button hint="Detay" icon="activefolder" [onClick]="detay"></dxi-button>
            </dxi-column>

            <dxo-editing mode="popup" [allowUpdating]="adminMode" [allowDeleting]="adminMode" [allowAdding]="true">
                <dxo-popup
                    title="Uygunsuzluk İşlemleri"
                    [showTitle]="true"
                    [width]="700"
                    [height]="400">
                </dxo-popup>
            </dxo-editing>
        </dx-data-grid>


    </div>
</div>

<ng-template #longContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Detay</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top: 30px;margin-bottom: 30px;">
            <div class="col-12">
                <div *ngIf="item.actionMedias.length > 0" id="ulImages">
                    <!-- <a [href]="_DomSanitizationService.bypassSecurityTrustUrl('http://localhost:5001' + am.url)" data-toggle="lightbox" *ngFor="let am of item.actionMedias">
                        <img [src]="_DomSanitizationService.bypassSecurityTrustUrl('http://localhost:5001' + am.url)" />
                    </a> -->
                    <a [href]="_DomSanitizationService.bypassSecurityTrustUrl('https://prometal.azurewebsites.net' + am.url)" data-toggle="lightbox" *ngFor="let am of item.actionMedias">
                        <img [src]="_DomSanitizationService.bypassSecurityTrustUrl('https://prometal.azurewebsites.net' + am.url)" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-12">
                <table class="table table-bordered">
                    <tr>
                        <td>Konum</td>
                        <td>:</td>
                        <td>{{ item.asset?.name }}</td>
                    </tr>
                    <tr>
                        <td>No</td>
                        <td>:</td>
                        <td>{{ item.no }}</td>
                    </tr>
                    <tr>
                        <td>Baslik</td>
                        <td>:</td>
                        <td>{{ item.name }}</td>
                    </tr>
                    <tr>
                        <td colspan="3" [innerHtml]="item.description">Aciklama</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row" style="margin-bottom: 30px;">
            <div class="col-12">
                <div class="header">
                    <h2 style="font-size: 2em;">Gorusunuz ?</h2>
                </div>
                <form>
                    <div class="form-group">
                        <label for="title">Tanim</label>
                        <input type="text" [(ngModel)]="actionDetail.name" class="form-control" id="title" [ngModelOptions]="{ standalone: true }" />
                    </div>
                    <div class="form-group">
                        <label for="content">Icerik</label>
                        <ckeditor [(ngModel)]="actionDetail.description" [editor]="Editor" [ngModelOptions]="{ standalone: true }">
                        </ckeditor>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <label for="content">Sorumlu</label>
            <select [(ngModel)]="newactionAssign.assignUserId" [ngModelOptions]="{ standalone: true }" class="form-control">
            <option value="0" selected>Select</option>
        <option *ngFor="let user of users" [value]="user.id">{{
          user.name
        }}</option>
      </select>

            <button class="btn btn-secondary" (click)="save(1)" [disabled]="success==1||prossesing||newactionAssign.assignUserId==0">Yonlendir</button>
        </div>

        <button class="btn btn-primary" (click)="save(0)" [disabled]="success==1||prossesing">Kaydet</button>
        <button class="btn btn-danger" (click)="save(2)" [disabled]="success==1||prossesing">Reddet</button>
        <button class="btn btn-success" (click)="save(3)" [disabled]="success==1||prossesing">Cozuldu</button>
        <div class="col-12">
            <div class="alert alert-success" *ngIf="success==1">
                {{message}}
            </div>
            <div class="alert alert-danger" *ngIf="success==2">
                {{message}}
            </div>
        </div>
    </div>
</ng-template>



<dx-popup [width]="'50%'" [height]="500" [showTitle]="true " title="Uygunsuzluk Detayı" [dragEnabled]="false " [closeOnOutsideClick]="true " [(visible)]="popupVisible">

    <dx-scroll-view id="scrollview" reachBottomText="Updating...">
        <div class="row" style="margin-top: 30px;margin-bottom: 30px;" *ngIf="item.actionMedias.length > 0">
            <div class="col-12">
                <div id="ulImages">
                    <!-- <a [href]="_DomSanitizationService.bypassSecurityTrustUrl('http://localhost:5001' + am.url)" data-toggle="lightbox" *ngFor="let am of item.actionMedias">
                        <img [src]="_DomSanitizationService.bypassSecurityTrustUrl('http://localhost:5001' + am.url)" />
                    </a> -->
                    <a target="_blank" [href]="_DomSanitizationService.bypassSecurityTrustUrl('https://prometal.azurewebsites.net' + am.url)" data-toggle="lightbox" *ngFor="let am of item.actionMedias">
                        <img [src]="_DomSanitizationService.bypassSecurityTrustUrl('https://prometal.azurewebsites.net' + am.url)" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-12">
                <table class="table">
                    <tr>
                        <th>Konum</th>
                        <td>:</td>
                        <td>{{ item.asset.name }}</td>
                    </tr>
                    <tr>
                        <th>No</th>
                        <td>:</td>
                        <td>{{ item.no }}</td>
                    </tr>
                    <tr>
                        <th colspan="3">{{ item.name }}</th>
                    </tr>
                    <tr>
                        <td colspan="3" [innerHtml]="item.description">Aciklama</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row" style="margin-bottom: 30px;">
            <div class="col-12">
                <div class="header">
                    <h2>Gorusunuz ?</h2>
                </div>
                <form>
                    <div class="form-group">
                        <label for="title">Tanim</label>
                        <input type="text" [(ngModel)]="actionDetail.name" class="form-control" id="title" [ngModelOptions]="{ standalone: true }" />
                    </div>
                    <div class="form-group">
                        <label for="content">Icerik</label>
                        <ckeditor [(ngModel)]="actionDetail.description" [editor]="Editor" [ngModelOptions]="{ standalone: true }">
                        </ckeditor>
                    </div>
                </form>
                <div class="form-group">
                    <label for="content">Sorumlu</label>
                    <select [(ngModel)]="newactionAssign.assignUserId" [ngModelOptions]="{ standalone: true }" class="form-control mb-2">
                      <option value="0" selected>Select</option>
                  <option *ngFor="let user of users" [value]="user.id">{{
                    user.name
                  }}</option>
                </select>

                    <button class="btn btn-secondary" (click)="save(1)" [disabled]="success==1||prossesing||newactionAssign.assignUserId==0">Yonlendir</button>
                </div>

                <div class="form-group">
                    <div class="col-12">
                        <div class="alert alert-success" *ngIf="success==1">
                            {{message}}
                        </div>
                        <div class="alert alert-danger" *ngIf="success==2">
                            {{message}}
                        </div>
                    </div>
                </div>
                <div class="btn-group float-right">
                    <button class="btn btn-primary" (click)="save(0)" [disabled]="success==1||prossesing">Kaydet</button>
                    <button class="btn btn-danger" (click)="save(2)" [disabled]="success==1||prossesing">Reddet</button>
                    <button class="btn btn-success" (click)="save(3)" [disabled]="success==1||prossesing">Cozuldu</button>
                </div>
            </div>
        </div>
    </dx-scroll-view>

</dx-popup>


<dx-popup [width]="'50%'" [height]="300" [showTitle]="true " title="Uygunsuzluk Aksiyonlari" [dragEnabled]="false " [closeOnOutsideClick]="true " [(visible)]="popupHistory">

    <dx-scroll-view id="scrollview2" reachBottomText="Updating...">
        <div class="row" style="margin-top: 30px;margin-bottom: 30px;">
            <div class="col-12">
                <dx-accordion #accordion [dataSource]="actionAssigns" [collapsible]="true" [multiple]="false" [animationDuration]="300" [selectedItems]="[actionAssigns[0]]">
                    <div *dxTemplate="let aa of 'title'">
                        {{aa.selfName +" => "+ aa.assignName}}
                    </div>
                    <div *dxTemplate="let aa of 'item'">
                        <div class="col-12" *ngFor="let ad of aa.actionDetails">
                            <h2 style="font-size: 1.5em;">{{ad.name}}</h2>
                            <p [innerHtml]="ad.description"></p>
                        </div>
                    </div>
                </dx-accordion>


            </div>
        </div>
    </dx-scroll-view>

</dx-popup>