<div class="am-pagetitle">
    <h5 class="am-title">{{title}}</h5>
    <!-- search-bar -->
  </div><!-- am-pagetitle -->
  
  <div class="am-mainpanel">
    <div class="am-pagebody">
        <dx-data-grid
    id="gridContainer"
    [dataSource]="itemlist"
    [showColumnLines]="false"
    [showRowLines]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    (onRowInserted)="insert($event)"
    (onRowUpdated)="update($event)"
    (onRowRemoved)="delete($event)">
    <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="true">
</dxo-search-panel>
<dxo-group-panel
[visible]="true">
</dxo-group-panel>
<dxo-grouping
[autoExpandAll]="false"
></dxo-grouping>
    <dxo-export [enabled]="true" fileName="roles" [allowExportSelectedData]="true"></dxo-export>
    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    
<dxi-column dataField="name" caption="İsim">
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    
    <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true">
         <dxo-form>
        <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
        <dxi-item dataField="name"></dxi-item>
    </dxi-item>
        </dxo-form>
    </dxo-editing>

        </dx-data-grid>
      </div>
</div>
