<div class="am-header">
    <div class="am-header-left">
        <a id="naviconLeft"  class="am-navicon d-none d-lg-flex"><i class="icon ion-navicon-round"></i></a>
        <a id="naviconLeftMobile"  class="am-navicon d-lg-none"><i class="icon ion-navicon-round"></i></a>
        <a  class="am-logo">Leanput</a>
    </div><!-- am-header-left -->

    <div class="am-header-right">
        <div class="dropdown dropdown-notification">
            <a  class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
                <i class="icon ion-ios-bell-outline tx-24"></i>
                <!-- start: if statement -->
                <span class="square-8 bg-danger pos-absolute t-15 r-0 rounded-circle"></span>
                <!-- end: if statement -->
            </a>
            <div class="dropdown-menu wd-300 pd-0-force">
                <div class="dropdown-menu-header">
                    <label>Bildirimler</label>
                    <!-- <a href="">Mark All as Read</a> -->
                </div><!-- d-flex -->

                <div class="media-list">

                    <div class="media-list-footer">
                        <i class="fa fa-angle-down mg-r-5"></i> Show All Notifications
                    </div>
                </div><!-- media-list -->
            </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
        <div class="dropdown dropdown-profile">
            <a  class="nav-link nav-link-profile" data-toggle="dropdown">
                <!-- <img src="../img/img3.jpg" class="wd-32 rounded-circle" alt=""> -->
                <span class="logged-name">
                    <span class="hidden-xs-down">{{username}}</span>
                    <i class="fa fa-angle-down mg-l-3"></i></span>
            </a>
            <div class="dropdown-menu wd-200">
                <ul class="list-unstyled user-profile-nav">
                    <li><a (click)="logOut()"><i class="icon ion-power"></i> Sign Out</a></li>
                </ul>
            </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
    </div><!-- am-header-right -->
</div><!-- am-header -->

<div class="am-sideleft">
     <!-- <ul class="nav am-sideleft-tab">
        <li class="nav-item">
            <a href="#mainMenu" class="nav-link active"><i class="icon ion-ios-home-outline tx-24"></i></a>
        </li>
        <li class="nav-item">
            <a href="#emailMenu" class="nav-link"><i class="icon ion-ios-email-outline tx-24"></i></a>
        </li>
        <li class="nav-item">
            <a href="#chatMenu" class="nav-link"><i class="icon ion-ios-chatboxes-outline tx-24"></i></a>
        </li>
        <li class="nav-item">
            <a href="#settingMenu" class="nav-link"><i class="icon ion-ios-gear-outline tx-24"></i></a>
        </li>
    </ul> -->

    <div class="tab-content">
        <div id="mainMenu" class="tab-pane active">
            <ul class="nav am-sideleft-menu">
                <li class="nav-item" *ngFor="let items of menuItems" style="cursor: pointer;">
                    <a class="nav-link " [ngClass]="items.items.length>0?'with-sub':''">
                        <i class="{{items.icon}}"></i>
                        <span>{{items.text}}</span>
                    </a>
                    <ul class="nav-sub" *ngIf="items.items.length>0">
                        <li class="nav-item" *ngFor="let item of items.items">
                            <a [routerLink]="[item.path]" class="nav-link">{{item.text}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- #mainMenu -->
        <div id="emailMenu" class="tab-pane">
            <!-- <div class="pd-x-20 pd-y-10">
                <a href="" class="btn btn-orange btn-block btn-compose">Compose Email</a>
            </div>
            <ul class="nav am-sideleft-menu">
                <li class="nav-item">
                    <a href="page-inbox.html" class="nav-link">
                        <i class="icon ion-ios-filing-outline"></i>
                        <span>Inbox</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="page-inbox.html" class="nav-link">
                        <i class="icon ion-ios-filing-outline"></i>
                        <span>Drafts</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="page-inbox.html" class="nav-link">
                        <i class="icon ion-ios-paperplane-outline"></i>
                        <span>Sent</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="page-inbox.html" class="nav-link">
                        <i class="icon ion-ios-trash-outline"></i>
                        <span>Trash</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="page-inbox.html" class="nav-link">
                        <i class="icon ion-ios-filing-outline"></i>
                        <span>Spam</span>
                    </a>
                </li>
            </ul>

            <label class="pd-x-20 tx-uppercase tx-11 mg-t-10 tx-orange mg-b-0 tx-medium">My Folder</label>
            <ul class="nav am-sideleft-menu">
                <li class="nav-item">
                    <a href="page-inbox.html" class="nav-link">
                        <i class="icon ion-ios-folder-outline"></i>
                        <span>Updates</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="page-inbox.html" class="nav-link">
                        <i class="icon ion-ios-folder-outline"></i>
                        <span>Social</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="page-inbox.html" class="nav-link">
                        <i class="icon ion-ios-folder-outline"></i>
                        <span>Promotions</span>
                    </a>
                </li>
            </ul> -->
        </div><!-- #emailMenu -->
        <div id="chatMenu" class="tab-pane">

            <span class="d-block pd-15 tx-12">Loading messages...</span>

        </div>
        <div id="settingMenu" class="tab-pane">
            <div class="pd-x-15">
                <label class="tx-uppercase tx-11 mg-t-10 tx-orange mg-b-15 tx-medium">Quick Settings</label>
                <div class="bd pd-15">
                    <h6 class="tx-13 tx-normal tx-gray-800">Daily Newsletter</h6>
                    <p class="tx-12">Get notified when someone else is trying to access your account.</p>
                    <div class="toggle toggle-light warning"></div>
                </div><!-- bd -->

                <div class="bd pd-15 mg-t-15">
                    <h6 class="tx-13 tx-normal tx-gray-800">Call Phones</h6>
                    <p class="tx-12">Make calls to friends and family right from your account.</p>
                    <div class="toggle toggle-light warning"></div>
                </div><!-- bd -->

                <div class="bd pd-15 mg-t-15">
                    <h6 class="tx-13 tx-normal tx-gray-800">Login Notifications</h6>
                    <p class="tx-12">Get notified when someone else is trying to access your account.</p>
                    <div class="toggle toggle-light warning"></div>
                </div><!-- bd -->

                <div class="bd pd-15 mg-t-15">
                    <h6 class="tx-13 tx-normal tx-gray-800">Phone Approvals</h6>
                    <p class="tx-12">Use your phone when login as an extra layer of security.</p>
                    <div class="toggle toggle-light warning"></div>
                </div><!-- bd -->
            </div>
        </div>
    </div>
</div>
<ng-content>

</ng-content>