<div class="breadcrumb-wrapper">
  <h1>{{title}}</h1>
</div>

<div class="row">
  <div class="col-lg-12">
    <dx-data-grid
      id="gridContainer"
      [dataSource]="items"
      [showColumnLines]="false"
      [showRowLines]="true"
      [showBorders]="true"
      [columnAutoWidth]="true"
      [rowAlternationEnabled]="true"
      (onRowInserted)="insert($event)"
      (onRowUpdated)="update($event)"
      (onRowRemoved)="delete($event)"
    >
    <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true">
      </dxo-search-panel>
      <dxo-group-panel [visible]="true"> </dxo-group-panel>
      <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
      <dxo-export
        [enabled]="true"
        fileName="roles"
        [allowExportSelectedData]="true"
      ></dxo-export>
      <dxo-selection mode="multiple"></dxo-selection>
      <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

      <dxi-column dataField="parentId" caption="Cihaz Grubu">
        <dxi-validation-rule type="required"></dxi-validation-rule> 
         <dxo-lookup [dataSource]="parents" valueExpr="id" displayExpr="name">
        </dxo-lookup>
      </dxi-column>
      
      <dxi-column dataField="name" caption="Cihaz">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
    


      <dxi-column dataField="resUserId" caption="Sorumlu Personel">
        <dxi-validation-rule type="required"></dxi-validation-rule> 
         <dxo-lookup [dataSource]="users" valueExpr="id" displayExpr="name">
        </dxo-lookup>
      </dxi-column>


      <dxi-column dataField="id" caption="QR" [allowFiltering]="false" [allowEditing]="false"
      [allowSorting]="false" cellTemplate="cellTemplate">
      </dxi-column>

      <dxi-column type="buttons" [allowFixing]="true">
          <dxi-button name="edit"></dxi-button>
          <dxi-button name="delete"></dxi-button>
      </dxi-column>

      <div *dxTemplate="let data of 'cellTemplate'">
        <a [href]="'http://api.qrserver.com/v1/create-qr-code/?size=250x250&amp;data='+data.data.id" target="_blank">
          <img  [src]="'http://api.qrserver.com/v1/create-qr-code/?size=250x250&amp;data='+data.data.id" width="30"/></a>
      </div>
      
      <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [allowDeleting]="true"
        [allowAdding]="true"
      >
      <dxo-popup
          title="Cihaz İşlemleri"
          [showTitle]="true"
          [width]="400"
          [height]="350">
      </dxo-popup>
      <dxo-form [colCount]="1"></dxo-form>
        <!-- <dxo-form>
          <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
            <dxi-item dataField="name"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
            <dxi-item dataField="ResUserId"></dxi-item>
          </dxi-item>
        </dxo-form> -->
      </dxo-editing>
    </dx-data-grid>
  </div>
</div>
