
<h2 class="content-block">Şehirler</h2>
<div class="content-block">
    <div class="dx-card"><dx-data-grid
    id="gridContainer"
    [dataSource]="cities"
        [showColumnLines]="false"
        [showRowLines]="true"
        [showBorders]="true"
        [rowAlternationEnabled]="true"
    (onRowInserted)="insert($event)"
    (onRowUpdated)="update($event)"
    (onRowRemoved)="delete($event)">
    <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="true"
></dxo-search-panel>
<dxo-group-panel
[visible]="true"
></dxo-group-panel>
<dxo-grouping
[autoExpandAll]="false"
></dxo-grouping>
    <dxo-export [enabled]="true" fileName="Employees" [allowExportSelectedData]="true"></dxo-export>
    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxi-column dataField="id" caption="Plaka"></dxi-column>
    <dxi-column dataField="name" caption="Şehir"></dxi-column>
    <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true">
<dxo-form>
    <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
        <dxi-item dataField="id" aria-disabled></dxi-item>
        <dxi-item dataField="name"></dxi-item>
    </dxi-item>
</dxo-form>
</dxo-editing>
    </dx-data-grid>
      </div>
</div>
