<div class="breadcrumb-wrapper">
  <h1>{{title}}</h1>
</div>

<div class="row" [hidden]="mainStep">
  <div class="col-lg-6 col-md-6 col-xs-12">

    <div class="card card-default" (click)="getQr()">
        <div class="card-header card-header-border-bottom">
            <h2 class="text-center">Karekod Okut</h2>
        </div>
        <div class="card-body">
          <p>Uygunsuzluk konumu için karekod okutun.</p>
          <hr>
          <p class="text-center">
            <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=Example" alt="Image" />
          </p>
        </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-12">

    <div class="card card-default">
        <div class="card-header card-header-border-bottom">
            <h2 class="text-center">Konum Seç</h2>
        </div>
        <div class="card-body">
          <p>Uygunsuzluk konumunu seçiniz.</p>
          <hr>
          <dx-tree-view id="simple-treeview" [items]="items" (onItemClick)="selectAsset($event)">
          </dx-tree-view>
        </div>
    </div>
  </div>
</div>



    <div class="row scanner-shell" [hidden]="!mainStep&&!qrStep" *ngIf="scannerStatus">
      <mat-menu #appMenu="matMenu">
        <mat-selection-list>
          <mat-list-option checkboxPosition="start" (click)="toggleTryHarder()" [selected]="tryHarder">
            Enable Try-harder
          </mat-list-option>
          <mat-list-option checkboxPosition="start" (click)="toggleTorch()" [selected]="torchEnabled"
            *ngIf="torchAvailable$ | async">
            Enable Torch
          </mat-list-option>
        </mat-selection-list>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="openFormatsDialog()">Barcode formats</button>
        <button mat-menu-item (click)="openInfoDialog()">App info</button>
      </mat-menu>

      <div class="col-12">
        <div class="card card-default">
            <div class="card-body">
              <select class="form-control" (change)="onDeviceSelectChange($event.target.value)">
                <option value="" [selected]="!currentDevice">No Device Selected</option>
                <option *ngFor="let device of availableDevices" [value]="device.deviceId"
                  [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
              </select>

              <hr>

              <zxing-scanner
                [torch]="torchEnabled"
                [(device)]="currentDevice"
                (scanSuccess)="onCodeResult($event)"
                [formats]="formatsEnabled"
                [tryHarder]="tryHarder"
                (permissionResponse)="onHasPermission($event)"
                (camerasFound)="onCamerasFound($event)"
                (torchCompatible)="onTorchCompatible($event)"
              ></zxing-scanner>
            </div>
            <div class="card-footer text-right">
              <button class="btn btn-primary" (click)="backtoSelectAsset()">Geri</button>
            </div>
        </div>
      </div>

      

      

      <section class="results" *ngIf="asset.name.length>0">
        <div>
          <small>Result</small>
          <strong>{{ asset.name }}</strong>
        </div>
        <button mat-icon-button (click)="clearResult()">&times;</button>
      </section>

    </div>

  <div class="row">
    <ng-container *ngIf="hasPermission === undefined&&qrStep">
      <div class="col-12">
        <div class="alert alert-info" role="alert">
          Lütfen kameraya izin veriniz.
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="hasDevices === false&&qrStep">
      <div class="col-12">
        <div class="alert alert-info" role="alert">
          Herhangi bir cihaz bulunamadı.
        </div>
      </div>
    </ng-container>
  </div>

<div class="row" *ngIf="webcamContainer">
  <div class="col-lg-6 col-md-6 col-xs-12">
    <div class="card card-default">
      <div class="card-body">
        <a (click)="triggerSnapshot()">
          <webcam
            *ngIf="showWebcam"
            [height]="400"
            [width]="350"
            [trigger]="triggerObservable"
            (imageCapture)="handleImage($event)"
            [allowCameraSwitch]="allowCameraSwitch"
            [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"></webcam>
        </a>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-info mr-3" (click)="toggleWebcam()">Kamera Aç/Kapa</button>
        <button
          class="btn btn-primary"
          (click)="showNextWebcam(true)"
          [disabled]="!multipleWebcamsAvailable">
          Sonraki Kamera
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-xs-12">
    <div class="card card-default">
      <div class="card-body">
        <div *ngIf="images.length>0" id="ulImages">
          <img [src]="item.imageAsDataUrl" *ngFor="let item of images.reverse(); let i = index;" (click)="removeImage(i)" />
        </div>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-warning mr-3" (click)="backtoSelectAsset()">Geri</button>
        <button class="btn btn-success" (click)="gotoFromStep()">Devam</button>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="problemForm">
  <div class="col-12">
    <div class="card card-default">
      <div class="card-body">
        <form class="horizontal-form">
          <div class="form-group row">
            <div class="col-12 col-md-3 text-right">
              <label for="content">Uygunsuzluk Turu</label>
            </div>
            <div class="col-12 col-md-9">
              <select [(ngModel)]="type.id" [ngModelOptions]="{ standalone: true }" class="form-control">
                <option value="0" selected>Select</option>
                <option *ngFor="let t of types" [value]="t.id">{{t.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-md-3 text-right">
              <label for="title">Tanim</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="text" [(ngModel)]="action.name" class="form-control" id="title"
              [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-md-3 text-right">
              <label for="content">Icerik</label>
            </div>
            <div class="col-12 col-md-9">
              <ckeditor [(ngModel)]="action.description" [editor]="Editor" [ngModelOptions]="{ standalone: true }">
              </ckeditor>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-md-3 text-right">
              <label for="content">Sorumlu</label>
            </div>
            <div class="col-12 col-md-9">
              <select [(ngModel)]="action.resUserId" [ngModelOptions]="{ standalone: true }" class="form-control">
                <option value="0" selected>Select</option>
                <option *ngFor="let user of users" [value]="user.id">{{user.fullName}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-md-3 text-right"></div>
            <div class="col-12 col-md-9">
              <a
                [href]="sanitizer.bypassSecurityTrustUrl('whatsapp://send?phone='+ user.phone + '&text=' + action.name + 'adli yeni bir problem tarafiniza atanmistir. Lutfen problem modulunuzu kontrol ediniz.')">
                <fa-icon [icon]="faGlobe"></fa-icon> Whatsapp ile bildir.
              </a>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <div class="alert alert-success" *ngIf="success==1">
                {{message}}
              </div>
              <div class="alert alert-danger" *ngIf="success==2">
                {{message}}
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer text-right">
        <button type="submit" class="btn btn-primary" (click)="setProblem()" [disabled]="success==1||prossesing">
          Gönder
        </button>
      </div>
    </div>
  </div>
</div>
