<!-- *ngIf="isAutorized(); else notAuthorized" -->
<ng-container *ngIf="isAutorized(); else notAuthorized">
    <app-side-nav-inner-toolbar title="{{appInfo.title}}">
        <router-outlet></router-outlet>
        <app-footer>
            Copyright © 2020 Developed By Info.
            <br/>
          Tüm Hakları saklıdır.
        </app-footer>
    </app-side-nav-inner-toolbar>
</ng-container>

<ng-template #notAuthorized>
    <!-- <app-single-card> -->
        <router-outlet></router-outlet>
    <!-- </app-single-card> -->
</ng-template>
