<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header bg-primary">
            <div class="app-brand">
              <a href="/index.html">
                <span class="brand-name">Leanput</span>
              </a>
            </div>
          </div>
          <div class="card-body">
            <form action="/index.html">
              <div class="horizontal-form">
                <div class="form-group row">
                    <div class="col-12 col-md-3">
                        <label for="">Email</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="email" [(ngModel)]="login.email" name="email" class="form-control" placeholder="Enter your email address">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-md-3">
                        <label for="">Şifre</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="password" [(ngModel)]="login.password" name="password" class="form-control" placeholder="Enter your password">
                    </div>
                </div>
                <div class="form-group mb-0">
                    <button type="submit" class="btn btn-primary btn-block" *ngIf="!isClick" (click)="onLoginClick($event)">Giriş Yap</button>
                    <button type="submit" class="btn btn-primary btn-block disabled" *ngIf="isClick">Kontrol Ediliyor...</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>