<div class="breadcrumb-wrapper">
    <h1>Uygunsuzluk istatistik Durumu</h1>
</div>


<div class="row">
    <div class="col-lg-6">

        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <h2 class="text-center">Genel Durum</h2>
            </div>
            <div class="card-body" style="height: 450px;">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"></apx-chart>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <h2 class="text-center">Kendi Durumum</h2>
            </div>
            <div class="card-body" style="height: 450px;">
                <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [labels]="chartOptions2.labels"></apx-chart>
            </div>
        </div>
    </div>
</div>
